In [57]:
import pandas as pd

In [58]:
pew = pd.read_csv('pew.csv')

In [59]:

pew.head()

,religion,<$10k,$10-20k,$20-30k,$30-40k,$40-50k,$50-75k,$75-100k,$100-150k,>150k,Don't know/refused
0,Agnostic,27,34,60,81,76,137,122,109,84,96
1,Atheist,12,27,37,52,35,70,73,59,74,76
2,Buddhist,27,21,30,34,33,58,62,39,53,54
3,Catholic,418,617,732,670,638,1116,949,792,633,1489
4,Don’t know/refused,15,14,15,11,10,35,21,17,18,116

In [62]:
pew_long=pd.melt(pew, id_vars='religion')

In [63]:
pew_long.head()

             religion variable  value
0            Agnostic    <$10k     27
1             Atheist    <$10k     12
2            Buddhist    <$10k     27
3            Catholic    <$10k    418
4  Don’t know/refused    <$10k     15

In [64]:
pew_long = pd.melt(pew, id_vars='religion',var_name='income',value_name='count')

In [65]:
pew_long.head()

             religion income  count
0            Agnostic  <$10k     27
1             Atheist  <$10k     12
2            Buddhist  <$10k     27
3            Catholic  <$10k    418
4  Don’t know/refused  <$10k     15

In [66]:
billboard = pd.read_csv('billboard.csv')

In [67]:
billboard

,year,artist,track,time,date.entered,wk1,wk2,wk3,wk4,wk5,...,wk67,wk68,wk69,wk70,wk71,wk72,wk73,wk74,wk75,wk76
0,2000,2 Pac,Baby Don't Cry (Keep...,4:22,2000-02-26,87,82.0,72.0,77.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000,2Ge+her,The Hardest Part Of ...,3:15,2000-09-02,91,87.0,92.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,3 Doors Down,Kryptonite,3:53,2000-04-08,81,70.0,68.0,67.0,66.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000,3 Doors Down,Loser,4:24,2000-10-21,76,76.0,72.0,69.0,67.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,504 Boyz,Wobble Wobble,3:35,2000-04-15,57,34.0,25.0,17.0,17.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2000,98^0,Give Me Just One Nig...,3:24,2000-08-19,51,39.0,34.0,26.0,26.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2000,A*Teens,Dancing Queen,3:44,2000-07-08,97,97.0,96.0,95.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2000,Aaliyah,I Don't Wanna,4:15,2000-01-29,84,62.0,51.0,41.0,38.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2000,Aaliyah,Try Again,4:03,2000-03-18,59,53.0,38.0,28.0,21.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2000,"Adams, Yolanda",Open My Heart,5:30,2000-08-26,76,76.0,74.0,69.0,68.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2000,"Adkins, Trace",More,3:05,2000-04-29,84,84.0,75.0,73.0,73.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2000,"Aguilera, Christina",Come On Over Baby (A...,3:38,2000-08-05,57,47.0,45.0,29.0,23.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2000,"Aguilera, Christina",I Turn To You,4:00,2000-04-15,50,39.0,30.0,28.0,21.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2000,"Aguilera, Christina",What A Girl Wants,3:18,1999-11-27,71,51.0,28.0,18.0,13.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2000,Alice Deejay,Better Off Alone,6:50,2000-04-08,79,65.0,53.0,48.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2000,"Allan, Gary",Smoke Rings In The D...,4:18,2000-01-22,80,78.0,76.0,77.0,92.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2000,Amber,Sexual,4:38,1999-07-17,99,99.0,96.0,96.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2000,Anastacia,I'm Outta Love,4:01,2000-04-01,92,NaN,NaN,95.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2000,"Anthony, Marc",My Baby You,3:59,2000-09-16,82,76.0,76.0,70.0,82.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2000,"Anthony, Marc",You Sang To Me,3:50,2000-02-26,77,54.0,50.0,43.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2000,Avant,My First Love,4:28,2000-11-04,70,62.0,56.0,43.0,39.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2000,Avant,Separated,4:13,2000-04-29,62,32.0,30.0,23.0,26.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2000,BBMak,Back Here,3:35,2000-04-29,99,86.0,60.0,52.0,38.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2000,"Backstreet Boys, The",Shape Of My Heart,3:49,2000-10-14,39,25.0,24.0,15.0,12.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2000,"Backstreet Boys, The",Show Me The Meaning ...,3:54,2000-01-01,74,62.0,55.0,25.0,16.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2000,"Backstreet Boys, The",The One,3:46,2000-05-27,58,50.0,43.0,37.0,31.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2000,"Badu, Erkyah",Bag Lady,5:03,2000-08-19,67,53.0,42.0,41.0,48.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2000,Baha Men,Who Let The Dogs Out,3:17,2000-07-22,99,92.0,85.0,76.0,65.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2000,Barenaked Ladies,Pinch Me,3:46,2000-09-09,77,76.0,69.0,45.0,51.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2000,Beenie Man,Girls Dem Sugar,4:17,2000-10-21,72,72.0,63.0,56.0,62.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287,2000,"Thomas, Carl",Emotional,4:31,2000-11-25,77,63.0,61.0,58.0,54.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
288,2000,"Thomas, Carl",I Wish,3:50,2000-03-25,75,64.0,48.0,39.0,32.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
289,2000,"Thomas, Carl",Summer Rain,4:57,2000-09-23,82,82.0,86.0,80.0,82.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
290,2000,"Tippin, Aaron",Kiss This,2:53,2000-08-26,74,72.0,66.0,53.0,52.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
291,2000,Train,Meet Virginia,3:55,1999-10-09,76,67.0,59.0,54.0,48.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
292,2000,Trick Daddy,Shut Up,4:17,2000-05-20,99,95.0,87.0,87.0,83.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
293,2000,Trina,Pull Over,2:58,2000-09-09,97,93.0,96.0,100.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
294,2000,"Tritt, Travis",Best Of Intentions,4:15,2000-08-19,97,86.0,79.0,70.0,63.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
295,2000,Tuesday,I Know,4:06,2000-12-30,98,98.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
296,2000,"Urban, Keith",Your Everything,4:10,2000-07-15,81,80.0,73.0,73.0,67.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
297,2000,Usher,Pop Ya Collar,3:36,2000-11-04,68,64.0,60.0,60.0,62.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
298,2000,"Vassar, Phil",Carlene,4:07,2000-03-04,75,67.0,64.0,64.0,57.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299,2000,"Vassar, Phil",Just Another Day In ...,3:54,2000-09-30,81,81.0,76.0,67.0,53.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
300,2000,Vertical Horizon,Everything You Want,4:01,2000-01-22,70,61.0,53.0,46.0,40.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
301,2000,Vertical Horizon,You're A God,3:45,2000-08-26,64,55.0,43.0,41.0,37.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
302,2000,Vitamin C,Graduation (Friends ...,4:23,2000-04-15,81,64.0,54.0,54.0,46.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
303,2000,Vitamin C,The Itch,3:30,2000-12-02,86,48.0,45.0,52.0,57.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
304,2000,"Walker, Clay","Live, Laugh, Love",4:06,1999-12-04,95,95.0,94.0,94.0,94.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
305,2000,"Walker, Clay",The Chain Of Love,5:03,2000-04-15,73,65.0,57.0,57.0,51.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
306,2000,"Wallflowers, The",Sleepwalker,3:29,2000-10-28,73,73.0,74.0,80.0,90.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
307,2000,Westlife,Swear It Again,4:07,2000-04-01,96,82.0,66.0,55.0,55.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308,2000,"Williams, Robbie",Angels,3:56,1999-11-20,85,77.0,69.0,69.0,62.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
309,2000,"Wills, Mark",Back At One,4:00,2000-01-15,89,55.0,51.0,43.0,37.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
310,2000,"Worley, Darryl",When You Need My Lov...,3:35,2000-06-17,98,88.0,93.0,92.0,85.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
311,2000,"Wright, Chely",It Was,3:51,2000-03-04,86,78.0,75.0,72.0,71.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
312,2000,Yankee Grey,Another Nine Minutes,3:10,2000-04-29,86,83.0,77.0,74.0,83.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
313,2000,"Yearwood, Trisha",Real Live Woman,3:55,2000-04-01,85,83.0,83.0,82.0,81.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
314,2000,Ying Yang Twins,Whistle While You Tw...,4:19,2000-03-18,95,94.0,91.0,85.0,84.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
315,2000,Zombie Nation,Kernkraft 400,3:30,2000-09-02,99,99.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
316,2000,matchbox twenty,Bent,4:12,2000-04-29,60,37.0,29.0,24.0,22.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [68]:
billboard_melt = pd.melt(
    billboard,
    id_vars=['year','artist','track','time','date.entered'], 
    var_name= 'week',
    value_name= 'rating'
)

In [69]:
billboard_melt.head()

   year        artist                    track  time date.entered week  rating
0  2000         2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk1    87.0
1  2000       2Ge+her  The Hardest Part Of ...  3:15   2000-09-02  wk1    91.0
2  2000  3 Doors Down               Kryptonite  3:53   2000-04-08  wk1    81.0
3  2000  3 Doors Down                    Loser  4:24   2000-10-21  wk1    76.0
4  2000      504 Boyz            Wobble Wobble  3:35   2000-04-15  wk1    57.0

In [70]:
billboard.shape

(317, 81)

In [71]:
billboard_melt.shape

(24092, 7)

In [72]:
ebola = pd.read_csv('country_timeseries.csv')

In [73]:
ebola.head()

,Date,Day,Cases_Guinea,Cases_Liberia,Cases_SierraLeone,Cases_Nigeria,Cases_Senegal,Cases_UnitedStates,Cases_Spain,Cases_Mali,Deaths_Guinea,Deaths_Liberia,Deaths_SierraLeone,Deaths_Nigeria,Deaths_Senegal,Deaths_UnitedStates,Deaths_Spain,Deaths_Mali
0,1/5/2015,289,2776.0,NaN,10030.0,NaN,NaN,NaN,NaN,NaN,1786.0,NaN,2977.0,NaN,NaN,NaN,NaN,NaN
1,1/4/2015,288,2775.0,NaN,9780.0,NaN,NaN,NaN,NaN,NaN,1781.0,NaN,2943.0,NaN,NaN,NaN,NaN,NaN
2,1/3/2015,287,2769.0,8166.0,9722.0,NaN,NaN,NaN,NaN,NaN,1767.0,3496.0,2915.0,NaN,NaN,NaN,NaN,NaN
3,1/2/2015,286,NaN,8157.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3496.0,NaN,NaN,NaN,NaN,NaN,NaN
4,12/31/2014,284,2730.0,8115.0,9633.0,NaN,NaN,NaN,NaN,NaN,1739.0,3471.0,2827.0,NaN,NaN,NaN,NaN,NaN

In [74]:
ebola_long =pd.melt(ebola, id_vars=['Date','Day'])

In [75]:
ebola_long.head()

         Date  Day      variable   value
0    1/5/2015  289  Cases_Guinea  2776.0
1    1/4/2015  288  Cases_Guinea  2775.0
2    1/3/2015  287  Cases_Guinea  2769.0
3    1/2/2015  286  Cases_Guinea     NaN
4  12/31/2014  284  Cases_Guinea  2730.0

In [76]:
'Cases_Guinea'.split('_')

['Cases', 'Guinea']

In [77]:
variable_split = ebola_long['variable'].str.split('_')

In [78]:
variable_split

0       [Cases, Guinea]
1       [Cases, Guinea]
2       [Cases, Guinea]
3       [Cases, Guinea]
4       [Cases, Guinea]
5       [Cases, Guinea]
6       [Cases, Guinea]
7       [Cases, Guinea]
8       [Cases, Guinea]
9       [Cases, Guinea]
10      [Cases, Guinea]
11      [Cases, Guinea]
12      [Cases, Guinea]
13      [Cases, Guinea]
14      [Cases, Guinea]
15      [Cases, Guinea]
16      [Cases, Guinea]
17      [Cases, Guinea]
18      [Cases, Guinea]
19      [Cases, Guinea]
20      [Cases, Guinea]
21      [Cases, Guinea]
22      [Cases, Guinea]
23      [Cases, Guinea]
24      [Cases, Guinea]
25      [Cases, Guinea]
26      [Cases, Guinea]
27      [Cases, Guinea]
28      [Cases, Guinea]
29      [Cases, Guinea]
             ...
1922     [Deaths, Mali]
1923     [Deaths, Mali]
1924     [Deaths, Mali]
1925     [Deaths, Mali]
1926     [Deaths, Mali]
1927     [Deaths, Mali]
1928     [Deaths, Mali]
1929     [Deaths, Mali]
1930     [Deaths, Mali]
1931     [Deaths, Mali]
1932     [Deaths, Mali]
1933     [Deaths, Mali]
1934     [Deaths, Mali]
1935     [Deaths, Mali]
1936     [Deaths, Mali]
1937     [Deaths, Mali]
1938     [Deaths, Mali]
1939     [Deaths, Mali]
1940     [Deaths, Mali]
1941     [Deaths, Mali]
1942     [Deaths, Mali]
1943     [Deaths, Mali]
1944     [Deaths, Mali]
1945     [Deaths, Mali]
1946     [Deaths, Mali]
1947     [Deaths, Mali]
1948     [Deaths, Mali]
1949     [Deaths, Mali]
1950     [Deaths, Mali]
1951     [Deaths, Mali]
Name: variable, Length: 1952, dtype: object

In [79]:
type(variable_split)

pandas.core.series.Series

In [80]:
variable_split.str.get(0)

0        Cases
1        Cases
2        Cases
3        Cases
4        Cases
5        Cases
6        Cases
7        Cases
8        Cases
9        Cases
10       Cases
11       Cases
12       Cases
13       Cases
14       Cases
15       Cases
16       Cases
17       Cases
18       Cases
19       Cases
20       Cases
21       Cases
22       Cases
23       Cases
24       Cases
25       Cases
26       Cases
27       Cases
28       Cases
29       Cases
         ...
1922    Deaths
1923    Deaths
1924    Deaths
1925    Deaths
1926    Deaths
1927    Deaths
1928    Deaths
1929    Deaths
1930    Deaths
1931    Deaths
1932    Deaths
1933    Deaths
1934    Deaths
1935    Deaths
1936    Deaths
1937    Deaths
1938    Deaths
1939    Deaths
1940    Deaths
1941    Deaths
1942    Deaths
1943    Deaths
1944    Deaths
1945    Deaths
1946    Deaths
1947    Deaths
1948    Deaths
1949    Deaths
1950    Deaths
1951    Deaths
Name: variable, Length: 1952, dtype: object

In [81]:
variable_split.str.get(1)

0       Guinea
1       Guinea
2       Guinea
3       Guinea
4       Guinea
5       Guinea
6       Guinea
7       Guinea
8       Guinea
9       Guinea
10      Guinea
11      Guinea
12      Guinea
13      Guinea
14      Guinea
15      Guinea
16      Guinea
17      Guinea
18      Guinea
19      Guinea
20      Guinea
21      Guinea
22      Guinea
23      Guinea
24      Guinea
25      Guinea
26      Guinea
27      Guinea
28      Guinea
29      Guinea
         ...
1922      Mali
1923      Mali
1924      Mali
1925      Mali
1926      Mali
1927      Mali
1928      Mali
1929      Mali
1930      Mali
1931      Mali
1932      Mali
1933      Mali
1934      Mali
1935      Mali
1936      Mali
1937      Mali
1938      Mali
1939      Mali
1940      Mali
1941      Mali
1942      Mali
1943      Mali
1944      Mali
1945      Mali
1946      Mali
1947      Mali
1948      Mali
1949      Mali
1950      Mali
1951      Mali
Name: variable, Length: 1952, dtype: object

In [82]:
ebola_long['stats'] = variable_split.str.get(0)
ebola_long['country'] = variable_split.str.get(1)

In [83]:
ebola_long.head()

         Date  Day      variable   value  stats country
0    1/5/2015  289  Cases_Guinea  2776.0  Cases  Guinea
1    1/4/2015  288  Cases_Guinea  2775.0  Cases  Guinea
2    1/3/2015  287  Cases_Guinea  2769.0  Cases  Guinea
3    1/2/2015  286  Cases_Guinea     NaN  Cases  Guinea
4  12/31/2014  284  Cases_Guinea  2730.0  Cases  Guinea

In [84]:
weather = pd.read_csv('weather.csv')

In [85]:
weather

,id,year,month,element,d1,d2,d3,d4,d5,d6,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,MX17004,2010,1,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.8,NaN
1,MX17004,2010,1,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.5,NaN
2,MX17004,2010,2,tmax,NaN,27.3,24.1,NaN,NaN,NaN,...,NaN,29.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MX17004,2010,2,tmin,NaN,14.4,14.4,NaN,NaN,NaN,...,NaN,10.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MX17004,2010,3,tmax,NaN,NaN,NaN,NaN,32.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,MX17004,2010,3,tmin,NaN,NaN,NaN,NaN,14.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,MX17004,2010,4,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,36.3,NaN,NaN,NaN,NaN
7,MX17004,2010,4,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,16.7,NaN,NaN,NaN,NaN
8,MX17004,2010,5,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,33.2,NaN,NaN,NaN,NaN
9,MX17004,2010,5,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,18.2,NaN,NaN,NaN,NaN
10,MX17004,2010,6,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.1,NaN,NaN
11,MX17004,2010,6,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0,NaN,NaN
12,MX17004,2010,7,tmax,NaN,NaN,28.6,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,MX17004,2010,7,tmin,NaN,NaN,17.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,MX17004,2010,8,tmax,NaN,NaN,NaN,NaN,29.6,NaN,...,NaN,26.4,NaN,29.7,NaN,NaN,NaN,28.0,NaN,25.4
15,MX17004,2010,8,tmin,NaN,NaN,NaN,NaN,15.8,NaN,...,NaN,15.0,NaN,15.6,NaN,NaN,NaN,15.3,NaN,15.4
16,MX17004,2010,10,tmax,NaN,NaN,NaN,NaN,27.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,31.2,NaN,NaN,NaN
17,MX17004,2010,10,tmin,NaN,NaN,NaN,NaN,14.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN
18,MX17004,2010,11,tmax,NaN,31.3,NaN,27.2,26.3,NaN,...,NaN,NaN,NaN,NaN,28.1,27.7,NaN,NaN,NaN,NaN
19,MX17004,2010,11,tmin,NaN,16.3,NaN,12.0,7.9,NaN,...,NaN,NaN,NaN,NaN,12.1,14.2,NaN,NaN,NaN,NaN
20,MX17004,2010,12,tmax,29.9,NaN,NaN,NaN,NaN,27.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,MX17004,2010,12,tmin,13.8,NaN,NaN,NaN,NaN,10.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [102]:
weather_melt = pd.melt(
    weather,
    id_vars = ['id','year','month','element'],
    var_name = 'day',
    value_name= 'temp'
)

In [103]:
weather_melt.head()

        id  year  month element day  temp
0  MX17004  2010      1    tmax  d1   NaN
1  MX17004  2010      1    tmin  d1   NaN
2  MX17004  2010      2    tmax  d1   NaN
3  MX17004  2010      2    tmin  d1   NaN
4  MX17004  2010      3    tmax  d1   NaN

In [104]:
weather_tidy = weather_melt.pivot_table(
    index=['id', 'year', 'month', 'day'],
    columns='element',
    values='temp'
)

In [106]:
weather_tidy.reset_index()

element       id  year  month  day  tmax  tmin
0        MX17004  2010      1   d1   NaN   NaN
1        MX17004  2010      1  d10   NaN   NaN
2        MX17004  2010      1  d11   NaN   NaN
3        MX17004  2010      1  d12   NaN   NaN
4        MX17004  2010      1  d13   NaN   NaN
5        MX17004  2010      1  d14   NaN   NaN
6        MX17004  2010      1  d15   NaN   NaN
7        MX17004  2010      1  d16   NaN   NaN
8        MX17004  2010      1  d17   NaN   NaN
9        MX17004  2010      1  d18   NaN   NaN
10       MX17004  2010      1  d19   NaN   NaN
11       MX17004  2010      1   d2   NaN   NaN
12       MX17004  2010      1  d20   NaN   NaN
13       MX17004  2010      1  d21   NaN   NaN
14       MX17004  2010      1  d22   NaN   NaN
15       MX17004  2010      1  d23   NaN   NaN
16       MX17004  2010      1  d24   NaN   NaN
17       MX17004  2010      1  d25   NaN   NaN
18       MX17004  2010      1  d26   NaN   NaN
19       MX17004  2010      1  d27   NaN   NaN
20       MX17004  2010      1  d28   NaN   NaN
21       MX17004  2010      1  d29   NaN   NaN
22       MX17004  2010      1   d3   NaN   NaN
23       MX17004  2010      1  d30  27.8  14.5
24       MX17004  2010      1  d31   NaN   NaN
25       MX17004  2010      1   d4   NaN   NaN
26       MX17004  2010      1   d5   NaN   NaN
27       MX17004  2010      1   d6   NaN   NaN
28       MX17004  2010      1   d7   NaN   NaN
29       MX17004  2010      1   d8   NaN   NaN
..           ...   ...    ...  ...   ...   ...
311      MX17004  2010     12  d10   NaN   NaN
312      MX17004  2010     12  d11   NaN   NaN
313      MX17004  2010     12  d12   NaN   NaN
314      MX17004  2010     12  d13   NaN   NaN
315      MX17004  2010     12  d14   NaN   NaN
316      MX17004  2010     12  d15   NaN   NaN
317      MX17004  2010     12  d16   NaN   NaN
318      MX17004  2010     12  d17   NaN   NaN
319      MX17004  2010     12  d18   NaN   NaN
320      MX17004  2010     12  d19   NaN   NaN
321      MX17004  2010     12   d2   NaN   NaN
322      MX17004  2010     12  d20   NaN   NaN
323      MX17004  2010     12  d21   NaN   NaN
324      MX17004  2010     12  d22   NaN   NaN
325      MX17004  2010     12  d23   NaN   NaN
326      MX17004  2010     12  d24   NaN   NaN
327      MX17004  2010     12  d25   NaN   NaN
328      MX17004  2010     12  d26   NaN   NaN
329      MX17004  2010     12  d27   NaN   NaN
330      MX17004  2010     12  d28   NaN   NaN
331      MX17004  2010     12  d29   NaN   NaN
332      MX17004  2010     12   d3   NaN   NaN
333      MX17004  2010     12  d30   NaN   NaN
334      MX17004  2010     12  d31   NaN   NaN
335      MX17004  2010     12   d4   NaN   NaN
336      MX17004  2010     12   d5   NaN   NaN
337      MX17004  2010     12   d6  27.8  10.5
338      MX17004  2010     12   d7   NaN   NaN
339      MX17004  2010     12   d8   NaN   NaN
340      MX17004  2010     12   d9   NaN   NaN

[341 rows x 6 columns]

In [107]:
billboard_melt.head()

   year        artist                    track  time date.entered week  rating
0  2000         2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk1    87.0
1  2000       2Ge+her  The Hardest Part Of ...  3:15   2000-09-02  wk1    91.0
2  2000  3 Doors Down               Kryptonite  3:53   2000-04-08  wk1    81.0
3  2000  3 Doors Down                    Loser  4:24   2000-10-21  wk1    76.0
4  2000      504 Boyz            Wobble Wobble  3:35   2000-04-15  wk1    57.0

In [108]:
billboard_melt.loc[billboard_melt['track']=='Loser']

       year        artist  track  time date.entered  week  rating
3      2000  3 Doors Down  Loser  4:24   2000-10-21   wk1    76.0
320    2000  3 Doors Down  Loser  4:24   2000-10-21   wk2    76.0
637    2000  3 Doors Down  Loser  4:24   2000-10-21   wk3    72.0
954    2000  3 Doors Down  Loser  4:24   2000-10-21   wk4    69.0
1271   2000  3 Doors Down  Loser  4:24   2000-10-21   wk5    67.0
1588   2000  3 Doors Down  Loser  4:24   2000-10-21   wk6    65.0
1905   2000  3 Doors Down  Loser  4:24   2000-10-21   wk7    55.0
2222   2000  3 Doors Down  Loser  4:24   2000-10-21   wk8    59.0
2539   2000  3 Doors Down  Loser  4:24   2000-10-21   wk9    62.0
2856   2000  3 Doors Down  Loser  4:24   2000-10-21  wk10    61.0
3173   2000  3 Doors Down  Loser  4:24   2000-10-21  wk11    61.0
3490   2000  3 Doors Down  Loser  4:24   2000-10-21  wk12    59.0
3807   2000  3 Doors Down  Loser  4:24   2000-10-21  wk13    61.0
4124   2000  3 Doors Down  Loser  4:24   2000-10-21  wk14    66.0
4441   2000  3 Doors Down  Loser  4:24   2000-10-21  wk15    72.0
4758   2000  3 Doors Down  Loser  4:24   2000-10-21  wk16    76.0
5075   2000  3 Doors Down  Loser  4:24   2000-10-21  wk17    75.0
5392   2000  3 Doors Down  Loser  4:24   2000-10-21  wk18    67.0
5709   2000  3 Doors Down  Loser  4:24   2000-10-21  wk19    73.0
6026   2000  3 Doors Down  Loser  4:24   2000-10-21  wk20    70.0
6343   2000  3 Doors Down  Loser  4:24   2000-10-21  wk21     NaN
6660   2000  3 Doors Down  Loser  4:24   2000-10-21  wk22     NaN
6977   2000  3 Doors Down  Loser  4:24   2000-10-21  wk23     NaN
7294   2000  3 Doors Down  Loser  4:24   2000-10-21  wk24     NaN
7611   2000  3 Doors Down  Loser  4:24   2000-10-21  wk25     NaN
7928   2000  3 Doors Down  Loser  4:24   2000-10-21  wk26     NaN
8245   2000  3 Doors Down  Loser  4:24   2000-10-21  wk27     NaN
8562   2000  3 Doors Down  Loser  4:24   2000-10-21  wk28     NaN
8879   2000  3 Doors Down  Loser  4:24   2000-10-21  wk29     NaN
9196   2000  3 Doors Down  Loser  4:24   2000-10-21  wk30     NaN
...     ...           ...    ...   ...          ...   ...     ...
14585  2000  3 Doors Down  Loser  4:24   2000-10-21  wk47     NaN
14902  2000  3 Doors Down  Loser  4:24   2000-10-21  wk48     NaN
15219  2000  3 Doors Down  Loser  4:24   2000-10-21  wk49     NaN
15536  2000  3 Doors Down  Loser  4:24   2000-10-21  wk50     NaN
15853  2000  3 Doors Down  Loser  4:24   2000-10-21  wk51     NaN
16170  2000  3 Doors Down  Loser  4:24   2000-10-21  wk52     NaN
16487  2000  3 Doors Down  Loser  4:24   2000-10-21  wk53     NaN
16804  2000  3 Doors Down  Loser  4:24   2000-10-21  wk54     NaN
17121  2000  3 Doors Down  Loser  4:24   2000-10-21  wk55     NaN
17438  2000  3 Doors Down  Loser  4:24   2000-10-21  wk56     NaN
17755  2000  3 Doors Down  Loser  4:24   2000-10-21  wk57     NaN
18072  2000  3 Doors Down  Loser  4:24   2000-10-21  wk58     NaN
18389  2000  3 Doors Down  Loser  4:24   2000-10-21  wk59     NaN
18706  2000  3 Doors Down  Loser  4:24   2000-10-21  wk60     NaN
19023  2000  3 Doors Down  Loser  4:24   2000-10-21  wk61     NaN
19340  2000  3 Doors Down  Loser  4:24   2000-10-21  wk62     NaN
19657  2000  3 Doors Down  Loser  4:24   2000-10-21  wk63     NaN
19974  2000  3 Doors Down  Loser  4:24   2000-10-21  wk64     NaN
20291  2000  3 Doors Down  Loser  4:24   2000-10-21  wk65     NaN
20608  2000  3 Doors Down  Loser  4:24   2000-10-21  wk66     NaN
20925  2000  3 Doors Down  Loser  4:24   2000-10-21  wk67     NaN
21242  2000  3 Doors Down  Loser  4:24   2000-10-21  wk68     NaN
21559  2000  3 Doors Down  Loser  4:24   2000-10-21  wk69     NaN
21876  2000  3 Doors Down  Loser  4:24   2000-10-21  wk70     NaN
22193  2000  3 Doors Down  Loser  4:24   2000-10-21  wk71     NaN
22510  2000  3 Doors Down  Loser  4:24   2000-10-21  wk72     NaN
22827  2000  3 Doors Down  Loser  4:24   2000-10-21  wk73     NaN
23144  2000  3 Doors Down  Loser  4:24   2000-10-21  wk74     NaN
23461  2000  3 Doors Down  Loser  4:24   2000-10-21  wk75     NaN
23778  2000  3 Doors Down  Loser  4:24   2000-10-21  wk76     NaN

[76 rows x 7 columns]

In [109]:
billboard_songs = billboard_melt[['year','artist','track','time']]

In [110]:
billboard_songs.head()

   year        artist                    track  time
0  2000         2 Pac  Baby Don't Cry (Keep...  4:22
1  2000       2Ge+her  The Hardest Part Of ...  3:15
2  2000  3 Doors Down               Kryptonite  3:53
3  2000  3 Doors Down                    Loser  4:24
4  2000      504 Boyz            Wobble Wobble  3:35

In [111]:
billboard_songs.shape

(24092, 4)

In [117]:
billboard_songs.drop_duplicates()

     year                artist                    track  time
0    2000                 2 Pac  Baby Don't Cry (Keep...  4:22
1    2000               2Ge+her  The Hardest Part Of ...  3:15
2    2000          3 Doors Down               Kryptonite  3:53
3    2000          3 Doors Down                    Loser  4:24
4    2000              504 Boyz            Wobble Wobble  3:35
5    2000                  98^0  Give Me Just One Nig...  3:24
6    2000               A*Teens            Dancing Queen  3:44
7    2000               Aaliyah            I Don't Wanna  4:15
8    2000               Aaliyah                Try Again  4:03
9    2000        Adams, Yolanda            Open My Heart  5:30
10   2000         Adkins, Trace                     More  3:05
11   2000   Aguilera, Christina  Come On Over Baby (A...  3:38
12   2000   Aguilera, Christina            I Turn To You  4:00
13   2000   Aguilera, Christina        What A Girl Wants  3:18
14   2000          Alice Deejay         Better Off Alone  6:50
15   2000           Allan, Gary  Smoke Rings In The D...  4:18
16   2000                 Amber                   Sexual  4:38
17   2000             Anastacia           I'm Outta Love  4:01
18   2000         Anthony, Marc              My Baby You  3:59
19   2000         Anthony, Marc           You Sang To Me  3:50
20   2000                 Avant            My First Love  4:28
21   2000                 Avant                Separated  4:13
22   2000                 BBMak                Back Here  3:35
23   2000  Backstreet Boys, The        Shape Of My Heart  3:49
24   2000  Backstreet Boys, The  Show Me The Meaning ...  3:54
25   2000  Backstreet Boys, The                  The One  3:46
26   2000          Badu, Erkyah                 Bag Lady  5:03
27   2000              Baha Men     Who Let The Dogs Out  3:17
28   2000      Barenaked Ladies                 Pinch Me  3:46
29   2000            Beenie Man          Girls Dem Sugar  4:17
..    ...                   ...                      ...   ...
287  2000          Thomas, Carl                Emotional  4:31
288  2000          Thomas, Carl                   I Wish  3:50
289  2000          Thomas, Carl              Summer Rain  4:57
290  2000         Tippin, Aaron                Kiss This  2:53
291  2000                 Train            Meet Virginia  3:55
292  2000           Trick Daddy                  Shut Up  4:17
293  2000                 Trina                Pull Over  2:58
294  2000         Tritt, Travis       Best Of Intentions  4:15
295  2000               Tuesday                   I Know  4:06
296  2000          Urban, Keith          Your Everything  4:10
297  2000                 Usher            Pop Ya Collar  3:36
298  2000          Vassar, Phil                  Carlene  4:07
299  2000          Vassar, Phil  Just Another Day In ...  3:54
300  2000      Vertical Horizon      Everything You Want  4:01
301  2000      Vertical Horizon             You're A God  3:45
302  2000             Vitamin C  Graduation (Friends ...  4:23
303  2000             Vitamin C                 The Itch  3:30
304  2000          Walker, Clay        Live, Laugh, Love  4:06
305  2000          Walker, Clay        The Chain Of Love  5:03
306  2000      Wallflowers, The              Sleepwalker  3:29
307  2000              Westlife           Swear It Again  4:07
308  2000      Williams, Robbie                   Angels  3:56
309  2000           Wills, Mark              Back At One  4:00
310  2000        Worley, Darryl  When You Need My Lov...  3:35
311  2000         Wright, Chely                   It Was  3:51
312  2000           Yankee Grey     Another Nine Minutes  3:10
313  2000      Yearwood, Trisha          Real Live Woman  3:55
314  2000       Ying Yang Twins  Whistle While You Tw...  4:19
315  2000         Zombie Nation            Kernkraft 400  3:30
316  2000       matchbox twenty                     Bent  4:12

[317 rows x 4 columns]

In [119]:
billboard_songs.shape

(24092, 4)

In [124]:
billboard_songs.to_csv('billboard_songs_made.csv',index=False)